@* ! Brand demo (display only for navbar-full and hide on below xl) *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>




    h1 {
        color: #831d07;
        font-size: 26px;
        margin-left: 4%;
    }

    .text-container {
        max-width: 600px; /* Ensure the text doesn't stretch too wide */
        flex: 1; /* Allow it to take up remaining space */
    }

    /* Responsive styles */

</style>
@if (ViewData["navbarFull"] != null)
{
    
    <div class="container myClass">
        <div id="imageContainer">
        </div>
        <div class="text-container">
            <h1 class="font-weight-bold" style="color:#831d07; font-size:23px;"> Max Apllication</h1>
        </div>

    </div>
   


    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @* @await Html.PartialAsync("../_Partials/_Macros") *@
            </span>
            <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
        </a>

        @* ! Display menu close icon only for horizontal-menu with navbar-full *@
        @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
        {
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="ti ti-x ti-md align-middle"></i>
            </a>
        }
    </div>
}
@* <script type="text/javascript">
    var imagesList = @Html.Raw(imagePath); // Assuming imagePath is a valid JSON array
    if (imagesList && imagesList.length > 0) {
        imagesList.forEach(function (image) {
            var mimeType = image.MimeType;
            var base64Image = image.Base64Image;

            // Correctly format the src attribute
            var imgTag = '<img src="data:' + mimeType + ';base64,' + base64Image + '" alt="Image" width="20%" height="auto" />';

            // Append image to the div with id 'imageContainer'
            document.getElementById('imageContainer').innerHTML += imgTag;
        });
    }
</script> *@

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
    <div class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-md"></i>
        </a>
    </div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Search -->
    @if (Convert.ToBoolean(TempData.Peek("menuHorizontal")).ToString() != "True")
    {
        <div class="navbar-nav align-items-center">
            <div class="nav-item navbar-search-wrapper mb-0">
                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                    <i class="ti ti-search ti-md me-2 me-lg-4 ti-lg"></i>
                    <span class="d-none d-md-inline-block text-muted fw-normal">Search (Ctrl+/)</span>
                </a>
            </div>
        </div>
    }
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- Search -->
        @if (Convert.ToBoolean(TempData.Peek("menuHorizontal")).ToString() == "True")
        {
            @* <li class="nav-item navbar-search-wrapper">
        <a class="nav-link btn btn-text-secondary btn-icon rounded-pill search-toggler" href="javascript:void(0);">
          <i class="ti ti-search ti-md"></i>
        </a>
      </li> *@
        }
        <!-- /Search -->
        <!-- Style Switcher -->
        @* <li class="nav-item dropdown-style-switcher dropdown">
      <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <i class='ti ti-md'></i>
      </a>

    </li> *@
        <!-- / Style Switcher-->
        <!-- Quick links  -->
        @*  <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown">
      <a class="nav-link btn btn-text-secondary btn-icon rounded-pill btn-icon dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" aria-expanded="false">
        <i class='ti ti-layout-grid-add ti-md'></i>
      </a> *@
        <div class="dropdown-menu dropdown-menu-end p-0">
            <div class="dropdown-menu-header border-bottom">
                <div class="dropdown-header d-flex align-items-center py-3">
                    <h6 class="mb-0 me-auto">Shortcuts</h6>
                    <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-shortcuts-add" data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i class="ti ti-plus text-heading myHeading"></i></a>
                </div>
            </div>
            <div class="dropdown-shortcuts-list scrollable-container">
                <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-calendar ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Apps" asp-action="Calendar" class="stretched-link">Calendar</a>
                        <small>Appointments</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-file-dollar ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Invoice" asp-action="List" class="stretched-link">Invoice App</a>
                        <small>Manage Accounts</small>
                    </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-user ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Users" asp-action="List" class="stretched-link">User App</a>
                        <small>Manage Users</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-users ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Access" asp-action="Roles" class="stretched-link">Role Management</a>
                        <small>Permission</small>
                    </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-device-desktop-analytics ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Dashboards" asp-action="Index" class="stretched-link">Dashboard</a>
                        <small>User Dashboard</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-settings ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Pages" asp-action="AccountSettings" class="stretched-link">Setting</a>
                        <small>Account Settings</small>
                    </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-help ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Pages" asp-action="FAQ" class="stretched-link">FAQs</a>
                        <small>FAQs & Articles</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                        <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                            <i class="ti ti-square ti-26px text-heading"></i>
                        </span>
                        <a asp-controller="Modals" asp-action="Examples" class="stretched-link">Modals</a>
                        <small>Useful Popups</small>
                    </div>
                </div>
            </div>

        </div>
        </li>
        <!-- Quick links -->
        <!-- Notification -->
        @*  <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
      <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" aria-expanded="false">
        <span class="position-relative">
          <i class="ti ti-bell ti-md"></i>
          <span class="badge rounded-pill bg-danger badge-dot badge-notifications border"></span>
        </span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end p-0">
        <li class="dropdown-menu-header border-bottom">
          <div class="dropdown-header d-flex align-items-center py-3">
            <h6 class="mb-0 me-auto">Notification</h6>
            <div class="d-flex align-items-center h6 mb-0">
              <span class="badge bg-label-primary me-2">8 New</span>
              <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark all as read"><i class="ti ti-mail-opened text-heading"></i></a>
            </div>
          </div>
        </li>
        <li class="dropdown-notifications-list scrollable-container">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action dropdown-notifications-item">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <img src="~/img/avatars/UserImage.png" alt="UserImage" class="rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="small mb-1">Congratulation Lettie 🎉</h6>
                  <small class="mb-1 d-block text-body">Won the monthly best seller gold badge</small>
                  <small class="text-muted">1h ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">Charles Franklin</h6>
                  <small class="mb-1 d-block text-body">Accepted your connection</small>
                  <small class="text-muted">12hr ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <img src="~/img/avatars/2.png" alt class="rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">New Message ✉️</h6>
                  <small class="mb-1 d-block text-body">You have new message from Natalie</small>
                  <small class="text-muted">1h ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-success"><i class="ti ti-shopping-cart"></i></span>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">Whoo! You have new order 🛒 </h6>
                  <small class="mb-1 d-block text-body">ACME Inc. made new order $1,154</small>
                  <small class="text-muted">1 day ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <img src="~/img/avatars/9.png" alt class="rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">Application has been approved 🚀 </h6>
                  <small class="mb-1 d-block text-body">Your ABC project application has been approved.</small>
                  <small class="text-muted">2 days ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-success"><i class="ti ti-chart-pie"></i></span>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">Monthly report is generated</h6>
                  <small class="mb-1 d-block text-body">July monthly financial report is generated </small>
                  <small class="text-muted">3 days ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <img src="~/img/avatars/5.png" alt class="rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">Send connection request</h6>
                  <small class="mb-1 d-block text-body">Peter sent you connection request</small>
                  <small class="text-muted">4 days ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <img src="~/img/avatars/6.png" alt class="rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">New message from Jane</h6>
                  <small class="mb-1 d-block text-body">Your have new message from Jane</small>
                  <small class="text-muted">5 days ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar">
                    <span class="avatar-initial rounded-circle bg-label-warning"><i class="ti ti-alert-triangle"></i></span>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1 small">CPU is running high</h6>
                  <small class="mb-1 d-block text-body">CPU Utilization Percent is currently at 88.63%,</small>
                  <small class="text-muted">5 days ago</small>
                </div>
                <div class="flex-shrink-0 dropdown-notifications-actions">
                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ti ti-x"></span></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="border-top">
          <div class="d-grid p-4">
            <a class="btn btn-primary btn-sm d-flex" href="javascript:void(0);">
              <small class="align-middle">View all notifications</small>
            </a>
          </div>
        </li>
      </ul>
    </li> *@
        <!--/ Notification -->
        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="~/img/avatars/UserImage.png" alt="UserImage" class="rounded-circle parentAvtar">
                    @* <div class="toggle-box" style="display: none;"></div> *@
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item mt-0" asp-controller="Pages" asp-action="AccountSettings">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-2">
                                <div class="avatar avatar-online">
                                    <img src="~/img/avatars/UserImage.png" alt="UserImage" class="rounded-circle">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-0" id="userNames">
                                   Max User
                                </h6>

                                <small class="text-muted">Admin</small>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider my-1 mx-n2"></div>
                </li>
                @* 	<div id="displayData">
				<li>
					<a class="dropdown-item" asp-controller="Pages" asp-action="ProfileUser">
						<i class="ti ti-user me-3 ti-md"></i><span class="align-middle">My Profile</span>
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Pages" asp-action="AccountSettings">
						<i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Settings</span>
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Pages" asp-action="AccountSettingsBilling">
						<span class="d-flex align-items-center align-middle">
							<i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i><span class="flex-grow-1 align-middle">Billing</span>
							<span class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center">4</span>
						</span>
					</a>
				</li>
				<li>
					<div class="dropdown-divider my-1 mx-n2"></div>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Pages" asp-action="Faq">
						<i class="ti ti-currency-dollar me-3 ti-md"></i><span class="align-middle">Pricing</span>
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Pages" asp-action="Pricing">
						<i class="ti ti-question-mark me-3 ti-md"></i><span class="align-middle">FAQ</span>
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-area="" asp-controller="ChangePassword" asp-action="ChangePasswords">
						<i class="ti me-3 ti-lock change-password-icon ti-md"></i><span class="align-middle">Change Password</span>
					</a>
				</li>
</div> *@
                @* @{
	var userName=Context.Session.GetString("uName");
	if(userName!=null && userName=="Mku_Libadmin"){
		<script>
			$("#displayData").hide();

		</script>
	}
	else{
		<script>
			$("#displayData").show();
		</script>
	}
} *@

                <li>
                    <div class="d-grid px-2 pt-2 pb-1">
                        <a class="btn btn-sm btn-danger d-flex logout" asp-area="" asp-controller="Login" asp-action="ClearSession" target="_parent" onclick="redirectToLoginAndClose()">
                            <small class="align-middle">Logout</small>
                            <i class="ti ti-logout ms-2 ti-14px"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <!--/ User -->

    </ul>
</div>

<!-- Search Small Screens -->
<div class='navbar-search-wrapper search-input-wrapper @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? @ViewData["containerNav"] : "") d-none'>
    <input type="text"
           class='form-control search-input @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : @ViewData["containerNav"]) border-0'
           placeholder="Search..." aria-label="Search...">
    <i class="ti ti-x search-toggler cursor-pointer"></i>
</div>








